@use "../util/" as *;

.card {
  max-width: 21.875rem;
  padding: 1.5rem;
  background-color: var(--Very-dark-blue-card);
  border-radius: 0.75rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);

  &__img {
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
  }

  &__title {
    margin-bottom: 0.625em;
  }

  &__paragraph {
    margin-bottom: 1.25em;
  }

  &__ethereum::before,
  &__clock::before {
    position: relative;
    top: 2.5px;
    margin-right: 0.5rem;
  }

  &__ethereum::before {
    content: url("../../images/icon-ethereum.svg");
  }

  &__clock::before {
    content: url("../../images/icon-clock.svg");
  }

  &__avatar {
    width: 2.175rem;
    border: 1px solid var(--White);
    border-radius: 50%;
  }

  &__line {
    border-top: 1px solid var(--Very-dark-blue);
    padding-block: 1rem 0.625rem;
    margin-top: 1.25em;
  }
}
