@use "../util/" as *;

body {
  line-height: 1.5;
  font-family: var(--ff);
}

p {
  color: var(--Soft-blue);
  font-weight: 300;
}

.card {
  &__title {
    color: var(--White);
    font-size: var(--fs-title);
    width: fit-content;
    transition: all 0.5s ease;
  }

  &__title:hover {
    color: var(--Cyan);
    cursor: pointer;
  }

  &__paragraph {
    font-size: var(--fs-paragraph);
  }

  &__ethereum {
    color: var(--Cyan);
    font-weight: 600;
  }

  &__name {
    font-weight: 400;
  }
}

.light {
  color: var(--White);
  transition: all 0.5s ease;
}

.light:hover {
  color: var(--Cyan);
  cursor: pointer;
}
